#footer
  .container
    .row
      .col-md-6.text-left
        CSF is created by the TrustTheVote Project and provided by the Open<br/>
        Source Election Technology (OSET) Foundation
      .col-md-3
        #{link_to "Legal", "#legal"}<br/>
        #{link_to "Privacy", "#privacy"}
      .col-md-3
        #{link_to "Contact", "#legal"}<br/>
        #{link_to "Download", "#privacy"}
